@use '../../../styles/variables' as vars;

.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: vars.$secondary-color;
  box-shadow: #656565 0 1px 10px 1px;
  border-radius:  0 0 36px 36px;
  padding: vars.$padding-l vars.$padding-l;
  color: vars.$text-color;
}



.link {
  text-decoration: none;
  opacity: 0.7;
  font-size: 16px;
  color: #cccccc;
  transition: color 0.4s;

  &:hover {
    opacity: 1;
    color: vars.$accent-color;
  }
}

.activeLink {
  color: vars.$accent-color;
  outline: none;
}