// Цвета
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #e7ecff;
$text-color: #000000;
$text-color-primary: #54a5ff;

// Отступы
$padding-s: 2px;
$padding-m: 8px;
$padding-l: 16px;

// Шрифты
$font-family-base: Tahoma, Geneva, Verdana, sans-serif;
