@import '_variables';

body {
  margin: 0 auto;
  font-family: $font-family-base;
  background-color: $background-color;
  color: $text-color;
}

#nprogress .spinner {
  display: none !important;
}

#nprogress .bar {
  background-color: $accent-color;
}

#nprogress .peg {
  box-shadow: 0 0 10px $accent-color, 0 0 5px $accent-color;
}
