@use 'variables' as vars;

:root {
  --primary-color: #{vars.$primary-color};
  --secondary-color: #{vars.$secondary-color};
  --background-color: #{vars.$background-color};
  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 16px;
  --padding-xl: 24px;
  --font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0 auto;
  font-family: vars.$font-family-base;
  background-color: vars.$background-color;
  color: vars.$text-color;
}

#nprogress .spinner {
  display: none !important;
}

#nprogress .bar {
  background: vars.$accent-color;
}

#nprogress .peg {
  box-shadow: 0 0 10px vars.$accent-color, 0 0 5px vars.$accent-color;
}
