.dropdownMenu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownTrigger {
  position: relative;
  padding: 4px;
  border-radius: 99999px;
  border: 1px solid #a9ace0;
  &:hover {
    background-color: #a9ace0;
  }
}

.dropdownMenuContent {
  position: absolute;
  left: -50px;
  bottom: -64px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  background-color: #a9ace0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 70%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #a9ace0 transparent;
  }
}

.dropdownItem {
  font-weight: lighter;
  font-size: small;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:focus-visible {
    outline: none;
  }
}