@use '../styles/variables' as vars;

.link {
  text-decoration: none;
  font-size: 18px;
  color: #fffefe;
  transition: color 0.2s;

  &:hover {
    color: #79a3e3;
  }
}

.activeLink {
  color: vars.$secondary-color;
  font-weight: bold;
  border-bottom: 2px solid vars.$secondary-color;
}