@use '../../../styles/variables' as vars;


.loginWrapper {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: #f5f5f5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: vars.$text-color;
}

.input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid vars.$background-color;
}

.error {
  color: vars.$error;
  font-size: 14px;
  margin-bottom: 10px;
}
