@use '/src/styles/variables' as vars;

.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable th, .userTable td {
  border: 1px solid vars.$secondary-color;
  padding: 8px;
  text-align: left;
}

.userTable th {
  background-color: vars.$secondary-color;
  color: vars.$background-color;
  font-weight: bold;
}
