@use '../../../styles/variables' as vars;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  &:disabled {
    opacity: 0.2;
    cursor: auto;
  }

  &.primary {
    border: 1px solid vars.$accent-color;
    color: vars.$accent-color;
    background-color: transparent;

    &:hover {
      background-color: vars.$accent-color;
      color: vars.$secondary-color;
    }
  }

  &.secondary {
    background-color: vars.$secondary-color;
    color: vars.$accent-color;

    &:hover {
      opacity: 0.9;
    }
  }
}
